body {
	color: #444;
	font-size: 16px;
	text-align: center;
}

div.generic_picture {
	margin: 40px 0 0;
	padding: 0
}

div.generic_picture img {
	height: auto;
	max-width: 50%
}

div.generic_button {
	margin: 40px 0 0;
	padding: 0
}

#generic_message {
	line-height:1.6em;
	margin:0 auto;
	max-width:600px;
	padding:0 20px;
	text-align:center;
	word-wrap:break-word
}

#generic_message h1 {
	color:#222;
	text-align:center;
	font-size:2.8em;
	font-weight:normal;
	margin:10px 0
}
