body {
  font-family: 'Raleway', sans-serif;
  background: #543412;
  background: -moz-linear-gradient(top, #543412 0%, #3e3f74 100%);
  background: -webkit-linear-gradient(top, #543412 0%, #3e3f74 100%);
  background: linear-gradient(to bottom, #543412 0%, #3e3f74 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#543152', endColorstr='#3e3f74', GradientType=0);
}

h1 {
  color: #fff;
}

.container {
  width: 1100px;
  margin: auto;
}

.header {
  background: #fff;
  padding: 10px 0;
}

.charts {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 20px;
}

.epoch {
  width: 100%;
  min-height: 180px;
}

.chart {
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  overflow: hidden;
}

.chart-body {
  padding: 20px 10px 0 10px;
  background: rgba(255, 255, 255, 0.8);
}

.chart-footer {
  padding: 10px;
  background: rgba(255, 255, 255, 0.7);
  min-height: 38px;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.epoch .axis path {
  stroke: transparent !important;
}

.epoch .axis line {
  stroke: rgba(0, 0, 0, 0.1) !important;
}

.tick text {
  fill: rgba(0, 0, 0, 0.4) !important;
}

.logo {
  background: url('tmobile-logo.svg') no-repeat;
  height: 49px;
  width: 200px;
}
